ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  color: red;
}

.indicator {
  height: 2px;
  width: 2rem;
  background: brown;
  margin-top: 2px;

}
