<ng-container *ngIf="(selected$ | async) as tab">
  <ng-container *ngIf="tab === 'hot';">
    <app-images-slider [sliders]="imageSliders$ | async"></app-images-slider>
    <app-horizontal-grid>
      <div appGridItem *ngFor="let item of channels$ | async">
        <img appGridItemImage="red" [src]="item.icon">
        <span appGridItemTitle="black">{{item.title}}</span>
      </div>
    </app-horizontal-grid>
  </ng-container>
</ng-container>
<div class="ad-container" *ngIf="ad$ | async as ad">
  <img [src]="ad.imageUrl" alt="" class="ad-image">
</div>
<app-vertical-grid [itemWidth]="'15rem'">
  <app-product-card
    [routerLink]="['/products', item.id]"
    *ngFor="let item of product$ | async" [product]="item">
  </app-product-card>
</app-vertical-grid>
